@import "icomoon/style.css";
@import "custom-swiper.scss";
@import "loading.scss";
@import "globals.scss";
@import "modal.scss";
@import "header.scss";
@import "footer.scss";
@import "product.scss";
@import "blog.scss";
@import "shop.scss";
@import "faqs.scss";
@import "cart.scss";
@import "compare.scss";
@import "layout/category-active.scss";
@import "layout/text-has-line-before.scss";
@import "layout/collection.scss";
@import "layout/tab-features.scss";
@import "layout/banner.scss";
@import "layout/testimonial.scss";
@import "layout/instagram.scss";
@import "layout/benefit.scss";
@import "layout/newsletter.scss";
@import "layout/featured-product.scss";
@import "Custom/Address.scss";
@tailwind base;
@tailwind components;
@tailwind utilities;

// common layout designers
h2 {
  font-size: 64px !important;
  font-weight: 400 !important;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  line-height: 120% !important;
}

h3 {
  font-size: 56px !important;
  font-weight: 400 !important; 
  line-height: 105% !important;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: #0a0703;
}

h4 {
  font-size: 24px !important;
  font-weight: 400 !important;
  line-height: 100% !important;
  letter-spacing: 2%;
  color: #000000;
}

h5 {
  font-size: 20px !important;
  font-weight: 500 !important;
  line-height: 100% !important;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: #010B13 !important;
}

h6{
  font-size: 28px !important;
  font-weight: 500 !important;
  line-height: 100% !important;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: #0a0703;
}
.white_border {
  border-bottom: 1px solid #D1D1D1;
}


.golden_border_padding {
  padding: 3rem !important;
  border: 1px solid #BA9B53;
  border-radius: 50% !important;
}
.golder_border {
    border: 1px solid #BA9B53;
}
.vertical_layout_pipe {
  border-left: 1px solid #d1d1d1;
}

.primary_button {
  background-color: #0a0703;
  padding: 13px 32px;
  font-size: 16px;
  font-weight: 500;
  color: #ffffff;
}

.secondary_button {
  background-color: #ffffff;
  padding: 13px 32px;
  font-size: 16px;
  font-weight: 500;
  color: #0a0703;
  border: 1px solid #0a0703;
}

.container_overlay_section {
  height: 444px;
  width: 444px;
  min-height: 444px;
  min-width: 444px;
}

.w_fit_important {
  width: fit-content !important;
}
