@import "icomoon/style.css";
@import "custom-swiper.scss";
@import "loading.scss";
@import "globals.scss";
@import "modal.scss";
@import "header.scss";
@import "footer.scss";
@import "product.scss";
@import "blog.scss";
@import "shop.scss";
@import "faqs.scss";
@import "cart.scss";
@import "compare.scss";
@import "layout/category-active.scss";
@import "layout/text-has-line-before.scss";
@import "layout/collection.scss";
@import "layout/tab-features.scss";
@import "layout/banner.scss";
@import "layout/testimonial.scss";
@import "layout/instagram.scss";
@import "layout/benefit.scss";
@import "layout/newsletter.scss";
@import "layout/featured-product.scss";
@import "Custom/Address.scss";
@tailwind base;
@tailwind components;
@tailwind utilities;

// common layout designers

@import url("https://fonts.googleapis.com/css2?family=Gelasio:wght@400;700&family=Manrope:wght@400;700&display=swap");
:root {
  --font-gelasio: "Gelasio", serif;
  --font-manrope: "Manrope", sans-serif;
}

body {
  font-family: var(--font-gelasio);
}

input,
textarea {
  background-color: #fcfaf7;
  border: 1px solid #d9d9d9;
}

h1 {
  font-size: 56px !important;
  font-weight: 400 !important;
  line-height: 105% !important;
  color: #010b13;
}

h2 {
  font-size: 64px !important;
  font-weight: 400 !important;
  color: #0a0703;
  line-height: initial !important;
}

h3 {
  font-size: 56px !important;
  font-weight: 400 !important;
  line-height: 105% !important;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  color: #0a0703;
}

h4 {
  font-size: 24px;
  font-weight: 400;
  line-height: 100%;
  letter-spacing: 2%;
  color: #000000;
}

h5 {
  font-size: 20px;
  font-weight: 500 !important;

  font-family: var(--font-manrope);
  color: #010b13 !important;
}

h6 {
  font-size: 28px !important;
  font-weight: 500 !important;

  color: #0a0703;
}

.font_galesion {
  font-family: var(--font-gelasio);
}

p {
  font-weight: 400 !important;
  font-size: 20px;

  color: #404040;
  font-family: var(--font-manrope);
}

.white_border {
  border-bottom: 1px solid #d1d1d1;
}

.golden_border_padding {
  padding: 3rem !important;
  border: 1px solid #ba9b53;
  border-radius: 50% !important;
}
.golder_border {
  border: 1px solid #ba9b53;
}
.vertical_layout_pipe {
  border-left: 1px solid #d1d1d1;
}

.primary_button {
  background-color: #0a0703;
  padding: 13px 32px;
  font-size: 16px;
  font-weight: 500;
  color: #ffffff;
  font-family: var(--font-manrope);
}

.secondary_button {
  background-color: #ffffff;
  padding: 13px 32px;
  font-size: 16px;
  font-weight: 500;
  color: #0a0703;
  border: 1px solid #0a0703;
  font-family: var(--font-manrope);
}

.transparent_secondary_button {
  background-color: transparent;
  padding: 13px 32px;
  font-size: 16px;
  font-weight: 500;
  color: #ffffff;
  border: 1px solid #ffffff;
  font-family: var(--font-manrope);
}

.font-family-manrope {
  font-family: var(--font-manrope);
}
.container_overlay_section {
  height: 444px;
  width: 444px;
  min-height: 444px;
  min-width: 444px;
}

.w_fit_important {
  width: fit-content !important;
}

.blog_heading {
  color: #010b13;
  font-weight: 500;
  font-size: 16px;
  line-height: 100%;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.stats_heading {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 500 !important;
  font-size: 28px !important;

  color: #0a0703 !important;
}

.stats_description {
  font-family: var(--font-manrope);
  font-weight: 400 !important;
  font-size: 16px !important;

  color: #404040;
}

.accordiong_container_design {
  border-bottom: 1px solid #000000;
  padding-bottom: 40px;
  padding-top: 40px;
}
/* Base state before visible */
.animate-initial {
  opacity: 0;
  transform: scale(0.95) translateY(40px);
  transition: opacity 1s ease-out, transform 1s ease-out;
}

/* Triggered state (when visible) */
.animate-visible {
  opacity: 1;
  transform: scale(1) translateY(0);
}

.about_banner_heading {
  font-family: var(--font-manrope);
  font-weight: 400;
  font-size: 40px;
  color: #0a0703;
  line-height: 100%;
}
